.footer
{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 60px;
    margin-top: 80px;
}
.footer-content
{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left, .footer-content-center, .footer-content-right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;

}
.footer-content-left, .footer-content-center li, .footer-content-right li
{
    list-style: none;
    margin-bottom: 10px;
    
}
.footer-content-left
{
    display: block;
}
.footer-content-left img 
{
    margin-bottom: 15px;
}
.footer-content-left p{
    margin-bottom: 15px;
}
.footer-content-center h2, .footer-content-right h2
{
    color: white;
}
.footer-social-icons
{
    margin-right: 25px;
}
.footer-social-icons img
{
    width: 40px;
    margin-right: 15px;
    height: 38px; 
}
.footer-social-icons img:hover
{
    transform: scale(1.07);
}
.footer hr
{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: grey;
    border: none;
}
@media (max-width:1050px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    .footer-content-center{
        margin-right: auto;
    }
    .footer-content-right{
        margin-right: auto;
    }
}